h1 {
background: orange;
color: white;
padding: 20px;
float: left;
font-size: 30px;
margin: 10px;

}

body{
width: 50%;

}

#paragraph {

color: green;
background: beige;
float: left;
padding: 20px;
margin: 10px;

}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

#generatednumber {

    color: black;
    background: green;
    float: left;
    padding: 10px 60px 60px 10px;
    margin: 10px;
    font-size: 30px;

}

#winslosses {

    color: black;
    background: lightblue;
    float: left;
    padding: 20px;
    margin: 10px;


}

#score {

    clear: left;
    color: white;
    background: teal;
    float: left;
    padding: 20px;
    margin: 10px;

}

#guessesnumber {

    clear: left;
    color: white;
    background: teal;
    float: left;
    padding: 10px 60px 60px 10px;
    margin: 10px;
    font-size: 30px;

}

#crystal-image-1, #crystal-image-2,
#crystal-image-3, #crystal-image-4 {

width: 100px;
height: 100px;

}
